.spoiler {
    margin: 5px 0;
    padding: 0 15px;
    border: 1px solid #E5E5E5;
    position: relative;
    clear: both;
    border-radius: 3px;
}

.spoiler .spoiler-title {
    background: #E5E5E5;
    margin: 0 -15px;
    padding: 5px 15px;
    color: #353535;
    font-weight: bold;
    font-size: 13px;
    display: block;
    cursor: pointer;
}

.spoiler .spoiler-title:before {
    font-weight: bold;
}

.spoiler.collapsed .spoiler-title:before {
    content: "Show ";
}

.spoiler.expanded .spoiler-title:before {
    content: "Hide ";
}

.spoiler.collapsed .spoiler-content {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.spoiler.expanded .spoiler-content {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.spoiler .spoiler-content p:first-child {
    margin-top: 0;
}